<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.repository.CanivalRepository">
	
	<insert id="insert" parameterType="Canival">
		insert into canival(c_title, c_content, c_image, c_sdate, c_edate, c_viewcnt) 
		values (#{cTitle},#{cContent},#{cImage},#{cSdate},#{cEdate},#{cViewcnt})
	</insert>
	
	<update id="update" parameterType="Canival">
		update canival set c_title=#{cTitle}, c_content=#{cContent}, c_image=#{cImage}, c_sdate=#{cSdate}, c_edate=#{cEdate} 
		where c_title=#{cTitle}
	</update>
	
	<delete id="delete" parameterType="Canival">
		delete from canival where c_title=#{cTitle}
	</delete>
	
	<select id="findAll" resultType="Canival">
		select * from canival
	</select>
	
	<select id="findOneByTitle" parameterType="String" resultType="Canival">
		select * from canival where c_title=#{cTitle}
	</select>	
	
</mapper>