<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.repository.FoodRepository">
	
	<insert id="insert" parameterType="Food">
		insert into food (f_name, f_price, f_image, f_material, f_description, f_truck)  
		values (#{fName}, #{fPrice}, #{fImage}, #{fMaterial}, #{fDescription}, #{fTruck})
	</insert>
	<update id="update" parameterType="Food">
		update food set 
		f_name=#{fName}, f_price=#{fPrice}, f_image=#{fImage}, 
		f_material=#{fMaterial}, f_description=#{fDescription} where f_id=#{fId}
	</update>
	<delete id="delete" parameterType="String">
		delete from food where f_id=#{fId}
	</delete>
	
	<select id="findAllByTruck" parameterType="String" resultType="Food">
		select * from food where f_truck=#{fTruck};
	</select>
	
</mapper>
