<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.repository.HotlistRepository">
	
	<insert id="insert" parameterType="Hotlist">
		insert into hotlist (h_member, h_truck) values (#{hMember}, #{hTruck})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from hotlist where h_id=#{hId}
	</delete>
	
	<select id="findAll" resultType="Hotlist">
		select * from hotlist
	</select>
	<select id="findHotlistByMember" parameterType="String" resultType="Hotlist">
		select * from hotlist where h_member=#{hMember}
	</select>
	
	<!-- 쿼리추가, dto추가  -->
	<select id="findHotlistDetaileByMember" parameterType="String" resultType="Hotlisttruck">
		select h.h_id, truck.*
		from (select * from hotlist where hotlist.h_member=#{hMember})as h inner join truck
		on h.h_truck = truck.t_id;
	</select>
	
</mapper>