<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.repository.HotlistRepository">
	
	<insert id="insert" parameterType="Hotlist">
		insert into hotlist (h_member, h_truck) values (#{hMember}, #{hTruck})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from hotlist where h_id=#{hId}
	</delete>
	
	<select id="findAllByMember" parameterType="String" resultType="Hotlist">
		select * from truck where t_id = (select h_truck from hotlist where h_member=#{hMember})
	</select>
<!--public int insert(Hotlist hotlist);

	public int delete(int hId);

	public List<Hotlist> findAllByMember(String hMember); -->
</mapper>