<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.repository.MemberRepository">
	
	<insert id="insert" parameterType="Member">
		insert into member (m_email, m_password, m_image, m_nickname, m_registype) 
		values (#{mEmail},#{mPassword},#{mImage},#{mNickname},#{mRegistype})
	</insert>
	<update id="update" parameterType="Member">
		update member set m_password=#{mPassword}, m_image=#{mImage}, m_nickname=#{mNickname} where m_email=#{mEmail}
	</update>
	<delete id="delete" parameterType="String">
		delete from member where m_email=#{mEmail}
	</delete>
	
	<select id="isValidUser" parameterType="Member" resultType="boolean">
		select count(1) from member where m_email=#{mEmail} and m_password=#{mPassword}
	</select>
	<select id="findAll" resultType="Member">
		select * from member
	</select>
	<select id="findOneByEmail" parameterType="String" resultType="Member">
		select * from member where m_email=#{mEmail}
	</select>	
</mapper>
