<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.repository.ReviewRepository">
	
	<insert id="insert" parameterType="Review">
		insert into review (r_comment, r_score, r_date, r_member, r_truck) 
		values (#{rComment}, #{rScore}, CURDATE(), #{rMember}, #{rTruck})
	</insert>
	<update id="update" parameterType="Review">
		update review set r_comment=#{rComment}, r_score=#{rScore}, r_date=CURDATE() where r_id=#{rId}
	</update>
	<delete id="delete" parameterType="String">
		delete from review where r_id=#{rId}
	</delete>
	
	<select id="findAll" resultType="Review">
	<!-- <select id="findAll" resultMap="myResultMap"> -->
		select * from review order by r_id desc
	</select>
	
	<select id="findMemberReview" parameterType="String" resultType="Review">
		select * from review where r_member=#{rMember} order by r_id desc
	</select>
	<select id="findTruckReview" parameterType="String" resultType="Review">
		select * from review where r_truck=#{rTruck} order by r_id desc
	</select>

	<!-- <select id="findAvgByTruck" parameterType="String" resultType="float">
		select round(avg(r_score), 1) from review where r_truck=${rTruck}
	</select> -->
	 
	
</mapper>
